*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}
.accordion{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.accordion .accordion-container{
    position: relative;
    margin: 5px 20px;
}
.accordion-title{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px;
    font-size: 25px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.accordion-text{
    font-size: 20px;
    background-color: antiquewhite;
    height: 0;
    overflow: hidden;
    padding: 0px 10px 0px 10px;
    transform: scaleY(0);
    transition: transform 0.05s linear;
    word-wrap: break-word;
}
.accordion-title, .accordion-text{
    width: 800px;
}
.title{
    flex: 1;
}
.icon{
    margin-right: 10px;
}
.accordion-text.open{
    height: auto;
    padding: 10px;
    transform: scale(1);
}
h1{
    margin-bottom: 20px;
}
@media (max-width: 850px){
    .accordion-title, .accordion-text{
        width: 100%;
    }
}
#ui-addtab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    z-index: 1;
    padding: 15px;
    border-radius: 1px;
    width: 800px;
    height: 50vh;
}
#ui-addtab.hidden{
    display: none;
}
button{
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
#tabName{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    font-size: 20px;
}
#tabContent{
    min-width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    height: 100%;
    max-width: 100%;
    font-size: 20px;
}